:root {
    --link-color: #1F75FE;
    --main-margin: 40px;
}

@font-face {
    font-family: 'Runde';
    src: url('./fonts/OpenRunde-Regular.woff2') format('woff2');
    font-weight: 400;
  }

@font-face {
    font-family: 'Runde';
    src: url('./fonts/OpenRunde-Bold.woff2') format('woff2');
    font-weight: 700;
}  

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
}
          
  

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #FFF9F2;
    font-size: 20px;
}

.wrapper {
    max-width: 1000px;
    padding: 25px 57px 0 40px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-thickness: 1%;
    text-underline-offset: 12%;
    text-decoration-skip: none;
    text-decoration-color: color-mix(in srgb, currentColor, transparent 80%);
    text-decoration-skip-ink: none;
}

.no-underline {
    text-decoration: none;
    display: inline-block; 
}

button {
    padding: 15px 24px;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    border-radius: 6px;
    align-self: flex-start;
}

h1, .leading {
    font-family: 'Runde', sans-serif;
    color: #fff;
}

h1 {
    font-size: 96px;
    line-height: 85px;
    margin-bottom: 20px;
}

.leading {
    font-size: 32px;
    line-height: 39px; 
}




.icons {
    display: flex;
    gap: 14px;
}

.icons img {
    height: 24px;
}

nav {
    display: flex;
    flex-grow: 1;
}

.menu, .social {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    gap: 14px;
    align-items: center;
    padding-left: 0;
}

.heart-symbol {
    color: #E5432D;
}

.logo {
    height: 30px;
    margin-right: 30px;
}

header, footer {
    display: flex;
    margin-bottom: 20px;
}



.hero {
    padding-left: 40px;
    padding-top: 30px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    background-color: #FFA343;
    margin-bottom: var(--main-margin);
}


.hero-img, .hero-dscr {
    width: 100%;
}

.hero-dscr {
    margin-bottom: var(--main-margin);
    display: flex;
    flex-direction: column;
}

.hero-dscr .leading {
    flex-grow: 1;
}



footer p {
 margin-bottom: 0;
 margin-right: 30px;
 line-height: 22px;
}

